<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>tai.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>tai.servlet.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>tai.servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletManageAccount</servlet-name>
        <servlet-class>tai.servlet.ServletManageAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletManageAccount</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletReport</servlet-name>
        <servlet-class>tai.servlet.ServletReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletReport</servlet-name>
        <url-pattern>/account/report/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAddProduct</servlet-name>
        <servlet-class>tai.servlet.ServletAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletUpdateProduct</servlet-name>
        <servlet-class>tai.servlet.ServletUpdateProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUpdateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDeleteProduct</servlet-name>
        <servlet-class>tai.servlet.ServletDeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletManageCustomer</servlet-name>
        <servlet-class>tai.servlet.ServletManageCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletManageCustomer</servlet-name>
        <url-pattern>/account/customer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletProduct</servlet-name>
        <servlet-class>tai.servlet.ServletProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProduct</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCart</servlet-name>
        <servlet-class>tai.servlet.ServletCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCart</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletCheckout</servlet-name>
        <servlet-class>tai.servlet.ServletCheckout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCheckout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletProductReview</servlet-name>
        <servlet-class>tai.servlet.ServletProductReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletProductReview</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletTrending</servlet-name>
        <servlet-class>tai.servlet.ServletTrending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTrending</servlet-name>
        <url-pattern>/trending</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PageError</servlet-name>
        <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageError</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageSuccess</servlet-name>
        <jsp-file>/WEB-INF/jsp/success.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageSuccess</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterGetListCategory</filter-name>
        <filter-class>tai.filter.FilterGetListCategory</filter-class>
    </filter>

    <listener>
        <listener-class>tai.listener.ContextListener</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>FilterGetListCategory</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
